{% extends 'base.html.twig' %}

{% block title %}Категории{% endblock %}

{% block body %}
    <h1><strong>Категории</strong></h1>
    <hr />

    <a href="{{ '/main' }}">Главная</a>
    <a href="{{ '/product' }}">Товары</a>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>EId</th>
                <th>Content</th>
                <th>Действия</th>
            </tr>
        </thead>
        <tbody>
        {% for category in pagination %}
            <tr>
                <td>{{ category.id }}</td>
                <td>{{ category.title }}</td>
                <td>{{ category.eId }}</td>
                <td>{{ category.content }}</td>
                <td>
                    <a href="{{ path('category_show', {'id': category.id}) }}">Смотреть</a>
                    <a href="{{ path('category_edit', {'id': category.id}) }}">Редактировать</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Записей не найдено</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {{ knp_pagination_render(pagination) }}

    <a href="{{ path('category_new') }}">Создать</a>
{% endblock %}
