{% extends 'base.html.twig' %}

{% block title %}Категория{% endblock %}

{% block body %}
    <h1><strong>Категория</strong></h1>
    <hr />

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ category.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ category.title }}</td>
            </tr>
            <tr>
                <th>EId</th>
                <td>{{ category.eId }}</td>
            </tr>
            <tr>
                <th>Content</th>
                <td>{{ category.content }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('category_index') }}">Назад</a>

    <a href="{{ path('category_edit', {'id': category.id}) }}">Редактировать</a>

    {{ include('category/_delete_form.html.twig') }}
{% endblock %}
