{% extends 'base.html.twig' %}

{% block title %}
    Welcome!
{% endblock %}

{% block stylesheets %}
    <style>
        p {color:red;}
    </style>
{% endblock %}

{% block body %}

    <!-- Заголовок -->
    <h1>Просто тест... ✅</h1>

    <!-- Ссылка -->
    <p><strong><a href={{ path('main') }}>Содержание</a></strong></p>

    {{ dump(pages) }}

    <p><strong>Список страниц сайта</strong></p>

    <!-- Условное выражение -->
    <p> Температура окружающего воздуха: {{ temperature < 30 ? "Холодно:" : "Жарко:"}}
        T = {{ temperature|round(2, 'floor') }}
    </p>

    <!-- Условие -->
    {% if temperature == 36 %}
        <div>Условие выполнено. T = {{ temperature }} </div>
    {% elseif temperature >= 30 and temperature < 50 %}
        <div>Условие 30 =< T < 50 выполнено. T = {{ temperature }} </div>
    {% else %}
        <p>Условие не выполнено</p>
    {% endif %}

    <!-- Цикл -->
    {% for page in pages %}
        <div>
            <h3>{{ loop.index }} - {{ page.title|e }}</h3>
            {{ page.content }}
        </div>
    {% endfor %}

    <!-- Вставка -->
    {% include('part.html.twig') %}

    <!-- Дата -->
    {{ today|date("m/d/Y") }}

{% endblock %}
